*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}

input{
    width: 60%;
    padding: 15px;
    margin-top: 25px;
}

img{
    width: 250px;
    height: 250px;
}

.box1{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px; 
}

.box1:hover{
    border-color: yellow;
    color: black;
}

.box2{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px;
}

.box2:hover{
    border-color: red;
    color: black;
}

.box3{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px;
}

.box3:hover{
    border-color: grey;
    color: black;
}

.product1{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.box4{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px;
}

.box4:hover{
    border-color: orange;
    color: black;
}

.box5{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px;
}

.box5:hover{
    border-color: navy;
    color: black;
}

.box6{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
    margin: 25px;
}

.box6:hover{
    border-color: rgb(0, 121, 73);
    color: black;
}

.product2{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

hr{
    background-color: black;
    height: 1px;
    margin-top: 10px;
}

.aboutus{
    padding: 10px;
    margin-top: 10px;
}

h5{
    display: inline;
    padding: 10px;
    cursor: pointer;
}

.endpart{
    background-color: black;
    color: white;
    padding: 10px;